@import "@/styles/base/mixins.scss";

.prices {
  //   padding-bottom: 1000px;
  @include adaptiveValue("margin-bottom", 170, 130, 0, 1920, 400);
  display: flex;
  justify-content: center;
  align-items: center;
  &__textSection {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    h3 {
      font-style: italic;
      text-transform: uppercase;
      color: #fff;
    }
    &_big {
      font-weight: 900;
      font-size: 200px;
      @include adaptiveValue("font-size", 200, 70, 0, 1920, 400);
    }
    &_smal {
      font-weight: 600;
      @include adaptiveValue("font-size", 120, 30, 0, 1920, 400);

      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: linear-gradient(
          99deg,
          #8c421d 0%,
          #fbe67b 32.53%,
          #fcfbe7 53.55%,
          #f7d14e 76.99%,
          #d4a041 100%
        );
        top: 0;
        left: 0;
      }

      @media (max-width: 500px) {
        margin-top: 5px;
        &::after {
          top: -5px;
          height: 2px;
        }
      }
    }
    p {
      @include adaptiveValue("margin-top", 16, 7, 0, 1920, 320);

      @include adaptiveValue("font-size", 29, 12, 0, 1920, 320);
      font-weight: 400;
      line-height: 132%;
      letter-spacing: 0.02em;
      color: #fff;

      @include adaptiveValue("max-width", 880, 400, 0, 1920, 400);
    }
  }
  &__prices {
    @include adaptiveValue("margin-top", 91, 30, 0, 1920, 400);
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 41, 20, 0, 1920, 400);

    max-width: 1200px;
  }
  &__price {
    width: 100%;
    font-weight: 600;
    @include adaptiveValue("font-size", 30, 12, 0, 1920, 400);
    text-transform: uppercase;
    color: #fff;

    p {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      @include adaptiveValue("gap", 41, 7, 0, 1920, 400);
      // word-break: keep-all;
      white-space: nowrap;
      overflow: hidden;
      & :first-child {
        white-space: normal;
      }
      @media (max-width: 560px) {
      }

      span {
      }
    }
    &_separator {
      height: 2px;
      flex: 1;
      min-width: 38px;
      background: linear-gradient(
        135deg,
        #8c421d 0%,
        #fbe67b 32.53%,
        #fcfbe7 53.55%,
        #f7d14e 76.99%,
        #d4a041 100%
      );
    }
  }

  &__showMoreButton {
    font-weight: 600;
    font-size: 35px;
    color: #fff;
    @include adaptiveValue("font-size", 35, 15, 0, 1920, 400);
    @include adaptiveValue("padding-top", 15, 7, 0, 1920, 400);
    @include adaptiveValue("padding-bottom", 15, 7, 0, 1920, 400);
    @include adaptiveValue("padding-left", 78, 25, 0, 1920, 400);
    @include adaptiveValue("padding-right", 78, 25, 0, 1920, 400);
    @include adaptiveValue("margin-top", 60, 35, 0, 1920, 400);

    background-color: black;
    position: relative;
    @include adaptiveValue("border-radius", 10, 5, 0, 1920, 400);

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: linear-gradient(
        135deg,
        #8c421d 0%,
        #fbe67b 32.53%,
        #fcfbe7 53.55%,
        #f7d14e 76.99%,
        #d4a041 100%
      );
      z-index: -1;
      @include adaptiveValue("border-radius", 10, 5, 0, 1920, 400);
    }
  }
}
