@import "@/styles/base/mixins.scss";

.workSewction {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   padding: 0 20px;
  //   max-width: 1650px;
  //   margin: 0 auto;
  //   padding: 0 20px;
  margin-bottom: 280px;
  .swiper {
    .SwiperNavigation {
      cursor: pointer;
      display: flex;
      gap: 290px;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 34px;
      z-index: 1;
      left: 50%;
      transform: translate(-50%, 0);
      // проблема з індекси тому не переключає
    }
  }

  .swiper-wrapper {
    //  max-width: 1650px;
  }
  .swiper-pagination {
    max-width: 270px !important;
    bottom: 30px !important;
    left: 50% !important;
    transform: translate(-50%, 0px);
  }

  .swiper-pagination-bullet-active {
    background: #ffdb89 76.99% !important;
    box-shadow: 0 0 4px 0 #fbe67b;
  }
  .swiper-pagination-bullet {
    transition: all 0.3s ease 0s;
    background: #ffffff 76.99%;
    height: 17px;
    width: 17px;
    opacity: 100%;
    margin: 0 13px !important;
  }
  .workSewction__image {
    padding-bottom: 60%;
    height: 100%;
    img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
.workInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 33px;
  padding-bottom: 83px;

  h4 {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 132%;
    letter-spacing: 0.02em;
    color: #fff;

    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -12px;
      left: 0;
      background: linear-gradient(
        135deg,
        #8c421d 0%,
        #fbe67b 32.53%,
        #fcfbe7 53.55%,
        #f7d14e 76.99%,
        #d4a041 100%
      );
    }
  }
  p {
    max-width: 976px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 132%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }
}
@media (max-width: 1200px) {
  .workSewction {
    margin-bottom: 180px;
    .swiper {
      .SwiperNavigation {
        //   gap: 120px;
        bottom: 24px;
      }
    }
    .swiper-pagination {
      max-width: 180px !important;
      bottom: 20px !important;
    }
    .workSewction__image {
      padding-bottom: 70%;
    }
    .swiper-pagination-bullet {
      height: 14px;
      width: 14px;
      margin: 0 8px !important;
    }
  }
  .workInfo {
    padding-top: 24px;
    padding-bottom: 60px;
    h4 {
      font-size: 36px;
    }
    p {
      font-size: 18px;
      max-width: 730px;
    }
  }
}

@media (max-width: 768px) {
  .workSewction {
    margin-bottom: 80px;
    .swiper {
      .SwiperNavigation {
        gap: 180px;
        bottom: 11px;
      }
    }
    .swiper-pagination {
      max-width: 120px !important;
      bottom: 10px !important;
    }
    .workSewction__image {
      padding-bottom: 90%;
    }
    .swiper-pagination-bullet {
      height: 10px;
      width: 10px;
      margin: 0 5px !important;
    }
  }
  .workInfo {
    padding-top: 16px;
    padding-bottom: 36px;
    gap: 22px;
    h4 {
      font-size: 26px;
    }
    p {
      font-size: 15px;
      max-width: 95%;
    }
  }
}

@media (max-width: 480px) {
  .workSewction {
    margin-bottom: 40px;
    .swiper {
      .SwiperNavigation {
        gap: 120px;
        bottom: 4px;
      }
    }
    .swiper-pagination {
      max-width: 90px !important;
      bottom: 4px !important;
    }
    .workSewction__image {
      padding-bottom: 120%;
    }
    .swiper-pagination-bullet {
      height: 10px;
      width: 10px;
      margin: 0 2px !important;
    }
  }
  .workInfo {
    padding-top: 8px;
    padding-bottom: 40px;
    gap: 18px;
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 13px;
      max-width: 95%;
    }
  }
}
