@import "@/styles/base/mixins.scss";

.mainSection {
  @include adaptiveValue("margin-top", 100, 19, 0, 1920, 400);
  margin-bottom: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;
  &__textContent {
    @include adaptiveValue("max-width", 620, 300, 0, 1920, 450);
    @include adaptiveValue("margin-left", 60, 0, 0, 1920, 400);
    @include adaptiveValue("max-width", 95%, 100%, 0, 450, 360);
    @media (max-width: 450px) {
      max-width: 95%;
    }
  }
  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 600px) {
      align-items: flex-start;
      margin-bottom: 320px;
    }
    span {
      position: relative;
      z-index: 3;
      @media (max-width: 600px) {
        line-height: 120%;
      }
      font-weight: 900;

      @include adaptiveValue("font-size", 198, 45, 0, 1920, 400);
      text-transform: uppercase;
      &:first-child {
        @include adaptiveValue("font-size", 250, 50, 0, 1920, 400);

        color: black; /* Чорний текст */
        background: linear-gradient(
          135deg,
          #8c421d 0%,
          #fbe67b 32.53%,
          #fcfbe7 53.55%,
          #f7d14e 76.99%,
          #d4a041 100%
        );
        background-size: 140% 140%;
        -webkit-background-clip: text;
        -webkit-text-stroke: 8px transparent;

        @media (max-width: 600px) {
          -webkit-text-stroke: 5px transparent;
        }
        animation: gradientMaainText 5s ease infinite;
        @media (max-width: 430px) {
          font-size: 55px;
        }
      }
      @media (max-width: 430px) {
        font-size: 55px;
      }
    }
    position: relative;
    .decorSection {
      position: absolute;
      top: 77%;
      right: 0;
      // z-index: -1;
      width: 54.8%;
      height: 106%;
      @media (max-width: 1100px) {
        width: 44.8%;
        height: 96%;
      }
      @media (max-width: 800px) {
        height: 136%;
        width: 40%;
      }
      @media (max-width: 670px) {
        height: 176%;
        width: 30%;
      }
      @media (max-width: 600px) {
        top: 70%;
        height: 197%;
        width: 77%;
      }
      @media (max-width: 470px) {
        top: 70%;
        height: 167%;
        width: 77%;
      }
      .decorImage {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      a {
        position: absolute;
        @include adaptiveValue("right", 39, 13, 0, 1920, 700);
        @include adaptiveValue("bottom", 39, 13, 0, 1920, 700);
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 500;
        @include adaptiveValue("gap", 24, 13, 0, 1920, 700);
        @include adaptiveValue("font-size", 20, 13, 0, 1920, 700);
        text-decoration: underline;
        color: #fff;
        img {
          @include adaptiveValue("width", 33, 15, 0, 1920, 700);
          @include adaptiveValue("height", 33, 15, 0, 1920, 700);
        }
      }
    }
  }
  p {
    @include adaptiveValue("font-size", 29, 16, 0, 1920, 700);
    font-weight: 400;
    line-height: 132%;
    letter-spacing: 0.02em;

    margin-top: 45px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -27px;
      left: -100px;
      height: 2px;
      width: 60%;
      @media (max-width: 600px) {
        top: -18px;
        left: 0;
        width: 45%;
      }
      background: #ffffff;
    }
  }
  &__moreButtont {
    margin-top: 27px;

    font-weight: 600;
    font-size: 20px;
    @include adaptiveValue("font-size", 20, 16, 0, 1920, 400);
    @include adaptiveValue("padding-top", 16, 10, 0, 1920, 400);
    @include adaptiveValue("padding-bottom", 16, 10, 0, 1920, 400);
    @include adaptiveValue("padding-left", 32, 20, 0, 1920, 400);
    @include adaptiveValue("padding-right", 32, 20, 0, 1920, 400);
    border-radius: 29px;
    background-color: black;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: linear-gradient(
        135deg,
        #8c421d 0%,
        #fbe67b 32.53%,
        #fcfbe7 53.55%,
        #f7d14e 76.99%,
        #d4a041 100%
      );
      z-index: -1;
      border-radius: 29px;
    }

    span {
      @include adaptiveValue("margin-right", 185, 25, 0, 1920, 400);
    }
  }
  &__maincontainer {
  }
}

@keyframes gradientMaainText {
  0% {
    background-position: 0 70%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0 70%;
  }
}
