@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "./base/mixins.scss";

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "./null.scss";

.maincontainer {
  max-width: 1650px;
  width: 100%;
  @include adaptiveValue("margin-left", 137, 34, 0, 1920, 768);
  @include adaptiveValue("margin-right", 137, 34, 0, 1920, 768);
}
