@import "@/styles/base/mixins.scss";

.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 216px;

  h3 {
    @include adaptiveValue("margin-bottom", 51, 30, 0, 1920, 400);

    span {
      font-style: italic;
      font-weight: 600;
      font-size: 150px;
      @include adaptiveValue("font-size", 150, 60, 0, 1920, 400);
      @media (max-width: 400px) {
        @include adaptiveValue("font-size", 60, 50, 0, 400, 320);
      }
      text-transform: uppercase;
      position: relative;
      &:first-child {
        text-transform: uppercase;
        display: block;

        color: black;
        background: white;
        -webkit-background-clip: text;
        -webkit-text-stroke: 8px transparent;
        @media (max-width: 600px) {
          -webkit-text-stroke: 4px transparent;
        }

        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          background: linear-gradient(
            135deg,
            #8c421d 0%,
            #fbe67b 32.53%,
            #fcfbe7 53.55%,
            #f7d14e 76.99%,
            #d4a041 100%
          );
          bottom: -5px;
          left: 0;
          @media (max-width: 700px) {
            height: 2px;
            bottom: -2px;
          }
        }
      }
      &:last-child {
        display: block;
        /// hz
        @include adaptiveValue("margin-left", 116, 50, 0, 1920, 400);
        color: #fff;
      }
    }
  }
  &__textP {
    display: flex;
    flex-direction: column;
    gap: 21px;

    max-width: 620px;
    @media (max-width: 1100px) {
      max-width: 48%;
    }
    @media (max-width: 700px) {
      max-width: 80%;
    }
    @media (max-width: 400px) {
      max-width: 86%;
    }
    padding: 0 20px;
    align-items: flex-start;
  }
  p {
    font-weight: 400;
    @include adaptiveValue("font-size", 29, 14, 0, 1920, 400);
    line-height: 132%;
    letter-spacing: 0.02em;
    color: #fff;
  }
  a {
    font-weight: 600;
    white-space: nowrap;
    @include adaptiveValue("font-size", 29, 14, 0, 1920, 400);
    line-height: 132%;
    letter-spacing: 0.02em;
    color: #fff;

    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: linear-gradient(
        135deg,
        #8c421d 0%,
        #fbe67b 32.53%,
        #fcfbe7 53.55%,
        #f7d14e 76.99%,
        #d4a041 100%
      );
      bottom: -5px;
      left: 0;
    }
  }
}
