@import "@/styles/base/mixins.scss";

.header {
  display: flex;
  justify-content: center;
  @include adaptiveValue("margin-left", 137, 20, 0, 1920, 768);
  @include adaptiveValue("margin-right", 137, 20, 0, 1920, 768);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 33px;
    padding-top: 33px;
    @include adaptiveValue("padding-bottom", 33, 15, 0, 1920, 320);
    @include adaptiveValue("padding-top", 33, 15, 0, 1920, 320);
  }
  &__decor {
    background: #757575;
    height: 2px;
    width: 100%;
  }

  .burger {
    .burgerButton {
      position: relative;
      z-index: 10;
      cursor: pointer;
      font-size: 0px;
      @include adaptiveValue("width", 58, 40, 0, 1920, 320);
      @include adaptiveValue("height", 40, 32, 0, 1920, 320);
      position: relative;
      &::after,
      &::before,
      .burgerLine {
        transition: all 0.3s ease 0s;
        position: absolute;
        content: "";
        width: 100%;
        background: #ffffff;
        @include adaptiveValue("height", 4, 3, 0, 1920, 320);
      }
      &::before {
        bottom: 0;
        left: 0;
      }
      &::after {
        top: 0;
        left: 0;
      }
      .burgerLine {
        top: 50%;
        left: 0;
        width: 69%;
        transform: translate(0px, -50%);
      }
    }
  }

  ul {
    color: #ffffff;
    background: #000000;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    z-index: 5;
    @include adaptiveValue("font-size", 60, 23, 0, 1920, 320);
    @include adaptiveValue("gap", 40, 20, 0, 1920, 320);
  }
}
.instagramLink {
  a {
    display: flex;
    align-items: center;
    font-weight: 500;

    @include adaptiveValue("gap", 19, 10, 0, 1920, 320);
    @include adaptiveValue("font-size", 20, 10, 0, 1920, 320);
    text-transform: uppercase;
    color: #fff;
    img {
      @include adaptiveValue("width", 33, 20, 0, 1920, 320);
      @include adaptiveValue("height", 33, 20, 0, 1920, 320);
    }
  }
}

.BurgerMenuOpen {
  .burger {
    .burgerButton {
      .burgerLine {
        width: 0;
      }
      &::before {
        top: 50%;
        rotate: -45deg;
      }
      &::after {
        top: 50%;
        rotate: 45deg;
      }
    }
  }
  ul {
    left: 0;
  }
}
